 
#top_left_bar  {
     display: inline-block;
     float: left;
    
}
#top_right_bar {
   display: inline-block;
    float: right;
     
}
#top_right_bar a, #top_left_bar a {
text-decoration: none;
color:gray;
font-size: 15px;
}
img {
    position: absolute;
    top:30%;
    left:50%;
    transform: translate(-50%,-50%);
}
 li {
     display: inline-block;
 }
 input[type=text] {
    position: absolute;
    top:40%;
    left:50%;
    transform: translate(-50%,-50%);
    width: 500px;
    height: 40px;
    border-radius: 100px;
    border-style: solid;

 }
 #butt{
    position: absolute;
    top:45%;
    left:50%;
    transform: translate(-50%,-50%);
    margin-top: 25px;
    
 }
  
  input[name="google_search"], input[name="lucky"] {
    
    height:40px;
    width:150px;
    background-color: #f2f2f2;
    border-style: none;
    border-radius: 3px;
 }
 #top_left_bar a:hover{
    text-decoration: underline;
 }
 #top_right_bar a:hover{
    text-decoration: underline;
 }
 #butt li:hover{
     border-style: solid;
     border-width: 1px;
     border-radius: 3px;
     border-color: lightslategrey;
     
 }
#left_bottom {
    position: absolute;
    left: 0;
    bottom: 0;
    float: left;
    padding: 10px 10px;
    
}
 
#right_bottom   {
    position: absolute;
    right: 0;
    bottom: 0;
    float: right;
    padding: 10px 10px;
    
}
#right_bottom a,#left_bottom a {

    text-decoration: none;
    font-size: 15px;
    color:black;
    
     
   
}
#right_bottom a:hover,#left_bottom a:hover{
    text-decoration: underline;
}
.hi{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #F2F2F3;
    border-top: 1px #e4e4e4 solid;
    padding: 20px 20px
}

  